@model Proftaak_test.Controllers.TramController.SectorViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <title>Trams</title>
</head>
<body>
<div class="trambeheer">
@foreach (var item in @Model.SpoorList)
{
    <div class="Spoor">
        <button type="button">@item.Nummer</button>
    </div>
    foreach (Sector sector in @Model.SectorList)
    {
        if (sector.SpoorId == item.Id)
        {
            <div>
                <button type="button">@sector.Nummer</button>
            </div>
        }
    }
}
</div>
</body>
</html>



