@{
    Layout = "~/Views/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Maps - Index</h2>

<div id="map" style="height: 400px; width: 100%;"></div>
<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxSl9yvRls7yH8CAoNSRhnRbAtLE0PE44&callback=initMap">
</script>